<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content},~{:: title})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strudent Registration</title>
</head>

<body>

    <div id="content">
        <div class=" grid grid-cols-3">
            <div class="col-span-1"> </div>
            <div class=" col-span-1 mt-4">

                <div href="#"
                    class="block p-6 border-t-4 border-t-blue-700  bg-white  rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700">

                    <!-- <div th:replace=" ~{message :: messagebox}"></div> -->
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Student
                        Registration Form</h5>
                    <p class="font-normal text-gray-400 dark:text-gray-400 mb-6">Start Managging Student Data</p>




                    <form class="max-w-md mx-auto" data-th-action="@{'/master/registerstudent'}" method="post"
                        data-th-object="${registerstudentForm}" novalidate>

                        <div class="grid md:grid-cols-2 md:gap-6">
                            <div class="relative z-0 w-full mb-5 group">
                                <input type="text" name="firstname" id="firstname"
                                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                    placeholder=" " required />
                                <label for="firstname"
                                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                                    name</label>
                                <p data-th-if="${#fields.hasErrors('firstname')}" data-th-errors="*{firstname}"
                                    class="text-red-600 py-1"> User is Required </p>

                            </div>
                            <div class="relative z-0 w-full mb-5 group">
                                <input type="text" name="lastname" id="lastname"
                                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                    placeholder=" " required />
                                <label for="lastname"
                                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                                    name</label>
                                <p data-th-if="${#fields.hasErrors('lastname')}" data-th-errors="*{lastname}"
                                    class="text-red-600 py-1"> User is Required </p>
                            </div>
                        </div>

                        <div class="relative z-0 w-full mb-5 group">
                            <input type="address" name="address" id="address"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="address"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                                Address</label>
                            <p data-th-if="${#fields.hasErrors('lastname')}" data-th-errors="*{lastname}"
                                class="text-red-600 py-1"> User is Required </p>
                        </div>


                        <div class="relative z-0 w-full mb-5 group">
                            <input type="email" name="email" id="email"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                placeholder=" " required />
                            <label for="email"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
                                address</label>
                            <p data-th-if="${#fields.hasErrors('address')}" data-th-errors="*{address}"
                                class="text-red-600 py-1"> User is Required </p>

                        </div>


                        <div class="grid md:grid-cols-2 md:gap-6">
                            <div class="relative z-0 w-full mb-5 group">
                                <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phoneno" id="phoneno"
                                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                    placeholder=" " required />
                                <label for="phoneno"
                                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone
                                    number</label>
                                <p data-th-if="${#fields.hasErrors('phoneno')}" data-th-errors="*{phoneno}"
                                    class="text-red-600 py-1"> User is Required </p>
                            </div>
                            <div class="relative z-0 w-full mb-5 group">
                                <input type="text" name="parents_phoneno" id="parents_phoneno"
                                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                    placeholder=" " required />
                                <label for="parents_phoneno"
                                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Parents
                                    Phone number</label>
                                <p data-th-if="${#fields.hasErrors('parents_phoneno')}"
                                    data-th-errors="*{parents_phoneno}" class="text-red-600 py-1"> User is Required </p>
                            </div>
                        </div>
                        <div class="grid md:grid-cols-2 md:gap-6">
                            <div class="relative z-0 w-full mb-5 group">
                                <label for="branch_id" class="sr-only">Underline select</label>
                                <select id="branch_id"
                                    class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                                    <option selected>Select Branch </option>
                                    <tr th:each="allbrachdetails : ${allbrachdetails}">
                                        <option th:value="${allbrachdetails.branch_id}"
                                            th:text="${allbrachdetails.name}"></option>
                                    </tr>

                                </select>
                                <p data-th-if="${#fields.hasErrors('branch_id')}" data-th-errors="*{branch_id}"
                                    class="text-red-600 py-1"> User is Required </p>

                            </div>
                            <div class="relative z-0 w-full mb-5 group ">
                                <label for="Batch_id" class="sr-only">Underline select</label>
                                <select id="Batch_id"
                                    class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                                    <option selected>Select Batch </option>
                                    <tr th:each="allbatchDetails : ${allbatchDetails}">
                                        <option th:value="${allbatchDetails.id}"
                                            th:text="${allbatchDetails.Batch_name}"></option>
                                    </tr>

                                </select>
                                <p data-th-if="${#fields.hasErrors('Batch_id')}" data-th-errors="*{Batch_id}"
                                    class="text-red-600 py-1"> User is Required </p>

                            </div>
                        </div>



                        <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            message</label>
                        <textarea id="about" name="about" rows="4"
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Write your thoughts here..."></textarea>
                        <p data-th-if="${#fields.hasErrors('about')}" data-th-errors="*{about}"
                            class="text-red-600 py-1"> User is Required </p>




                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white "
                            for="Profile_pic">Upload file</label>
                        <input
                            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                            id="Profile_pic" type="file">

                        <p data-th-if="${#fields.hasErrors('Profile_pic')}" data-th-errors="*{Profile_pic}"
                            class="text-red-600 py-1"> User is Required </p>





                        <button type="submit"
                            class="text-white mt-4  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>